{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block title %}{{ album.title }}{% endblock %}
{% block body %}
<div class="album-page">
    <div class="photo-section">
        {% if published != 'PV' or auth %}
        <h1>{{ album.title }}</h1>
        <ul>
            {% if photos %}
                {% for photo in photos %}
                <li>
                    {% thumbnail photo.photo "150x150" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <a href="/images/photos/{{ photo.id }}"><h5>{{ photo.title }}</h5></a>
                </li>
                {% endfor %}
            {% else %}
                <h1>You have no photos in this Album!</h1>
            {% endif %}
        </ul>
        <p>{{ album.description }}</p>
        <h2>Album Tags: </h2>
        <ul class="tags">
        {% for tag in album_tags %}
            <li>
                <a href="{% url 'tagged_albums' slug=tag %}">{{ tag }}</a>
            </li>
        {% endfor %}
        </ul>
        <h2>Photo Tags: </h2>
        <ul class="tags">
        {% for tag in photo_tags %}
            <li>
                <a href="{% url 'tagged_photos' slug=tag %}">{{ tag }}</a>
            </li>
        {% endfor %}
        </ul>
        {% if auth %}
        <a href="{% url 'edit_album' pk=album.id %}" id="edit" class="button"><h5>Edit</h5></a>
        {% endif %}
        {% else %}
        <h1>THIS ALBUM IS PRIVATE!</h1>
        </div>
    </div>
{% endif %}
{% endblock %}