{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block title %}{{ photo.title }}{% endblock %}


{% block body %}
<div class='photo-page'>
    <h1>{{ photo.title }}</h1>
    <img class="photo" src="{{photo.photo.url}}">
    <p> {{ photo.description }} </p>
    <a href="{% url 'edit_photo' pk=photo.id %}" id="edit" class="button"><h5>Edit</h5></a>
    <h2>Photos like this one: </h2>
    <ul class="shared-tags">
        {% for photo in shared_tags %}
            <li>
                {% thumbnail photo.photo "150x150" crop="center" as pic %}
                    <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}"></img>
                {% endthumbnail %}
                <a class="title" href="/images/photos/{{ photo.id }}"><h5>{{ photo.title }}</h5></a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}