{% extends 'imagersite/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Library - {{ tag }}{% endblock %}
{% block body %}
<div class="library">
    <div class="album-section">
        <h1>Your Albums</h1>
        <h3>{{ tag }}</h3>
        <div class="pagination">
            <ul class="step-links">
                {% if albums.has_previous %}
                <li class="page-button">
                    <a href="?page={{ albums.previous_page_number }}">previous</a>
                {% endif %}
                </li>
                <li class="current-page">
                    Page {{ albums.number }} of {{ albums.paginator.num_pages }}
                </li>
                {% if albums.has_next %}
                <li class="page-button">
                    <a href="?page={{ albums.next_page_number }}">next</a>
                {% endif %}
                </li>
            </ul>
        </div>
        <ul>
            {% for album in albums %}
            <li>
                {% thumbnail album.cover.photo "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% empty %}
                    <img src="{% static 'black.png' %}" height="150" width="150"/>
                {% endthumbnail %}
                <a class="title" href="/images/albums/{{ album.id }}"><h5 class="title">{{ album.title }}</h5></a>
            </li>
        {% endfor %}
        </ul>
        {% if album_tags %}
            <div class="tags">
                <ul>
                    {% for tag in album_tags %}
                    <li>
                        <a href="{% url 'tagged_albums' slug=tag %}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h2 class="profile-button"><a class="button" id="center" href="{% url 'add_album' %}">Add Album</a></h2>
    </div>
{% endblock %}