{% extends 'imagersite/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Library - {{ tag }}{% endblock %}
{% block body %}
<div class="library">
    <div class="photo-section">
        <h1>Your Photos</h1>
        <h3>"{{ tag }}"</h3>
        <div class="pagination">
            <ul class="step-links">
                {% if photos.has_previous %}
                <li class="page-button">
                    <a href="?page={{ photos.previous_page_number }}">previous</a>
                {% endif %}
                </li>
                <li class="current-page">
                    Page {{ photos.number }} of {{ photos.paginator.num_pages }}
                </li>
                {% if photos.has_next %}
                <li class="page-button">
                    <a href="?page={{ photos.next_page_number }}">next</a>
                {% endif %}
                </li>
            </ul>
        </div>
        <ul>
            {% for photo in photos %}
            <li>
                {% thumbnail photo.photo "150x150" crop="center" as pic %}
                    <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}"></img>
                {% endthumbnail %}
                <a class="title" href="/images/photos/{{ photo.id }}"><h5>{{ photo.title }}</h5></a>
            </li>
        {% endfor %}
        </ul>
        <h2 class="profile-button"><a class="button" id="center" href="{% url 'add_photo' %}">Add Photo</a></h2>
    </div>
</div>
{% endblock %}