{% extends 'imagersite/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Library{% endblock %}

{% block body %}
{% for album in albums %}
    {% thumbnail album.cover.photo "150x150" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% empty %}
        <img src="{% static 'black.png' %}" height="150" width="150"/>
    {% endthumbnail %}
{{ album.title }}
{{ album.description }}
{% endfor %}

<h1>Photos go here!</h1>
{% for photo in photos %}
    {% thumbnail photo.photo "150x150" crop="center" as pic %}
        <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}"></img>
    {% endthumbnail %}
{{ photo.title }}
{{ photo.description }}
{% endfor %}
{% endblock %}