 {% extends 'imagersite/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block body %}
<div class="wrap medium-up-2">
  <h1>Welcome {{ profile.username }}!</h1>
  <div class="column">
      <img class="prof-pic" src="
      {% if profile.pic %}
          {{ profile.pic.url }}
      {% else %}
          {% static 'default_pic.jpg' %}
      {% endif %}"></img>
      <li>Location: {{ location }}</li>
      <li>Job: {{ profile.job }}</li>
      <li>Camera Type: {{ camera }}</li>
      <li>Photography Style: {{ photostyle }}</li>
      <li>Website: {{ profile.website }}</li>
      <a href="{% url 'profile_edit' %}" class="button" id="edit"><h5>Edit</h5></a>
  </div>
  <div class="column">
    <section>
      <h2>Albums:</h2>
      <li>Public Albums: {{ pub_albums }}</li>
      <li>Private Albums: {{ prv_albums }}</li>
    </section>
    <h2 class="profile-button"><a class="button" id="center" href="{% url 'add_album' %}">Add Album</a></h2>

    <section>
      <h2>Pictures:</h2>
      <li>Public Pics: {{ pub_pics }}</li>
      <li>Private Pics: {{ prv_pics }}</li>
    </section>
    <h2 class="profile-button"><a class="button" id="center" href="{% url 'add_photo' %}">Add Photo</a></h2>
  </div>
</div>

{% endblock %}

